<table mat-table #table [dataSource]="dataSource" matSort multiTemplateDataRows>
  <ng-container
    *ngFor="let column of tableColumns"
    [matColumnDef]="column.def"
    [sticky]="column.isSticky"
    [stickyEnd]="column.isStickyEnd"
  >
    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.def">
      {{ column.label }}
    </th>
    <td mat-cell *matCellDef="let row">{{ row | columnValue : column }}</td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef style="width: 30px"></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button>
        <mat-icon>{{
          expandedElement === row ? "keyboard_arrow_up" : "keyboard_arrow_down"
        }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let row"
      [attr.colspan]="tableDisplayColumns.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
      >
        <ng-container
          *ngTemplateOutlet="deteilTemplate; context: { row }"
        ></ng-container>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: tableDisplayColumns"
    [ngClass]="{ 'example-element-row': isExpandable }"
    [class.example-expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row"
  ></tr>

  <ng-container *ngIf="isExpandable">
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </ng-container>
</table>
