<table mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let row"> {{row.category.name}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let row"> {{row.description}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableDisplayColumns;"></tr>
</table>
