nav {
  background-color: rgb(65, 147, 161);
  padding: 5px;
  a {
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    &.current-route {
      text-decoration: overline;
    }
  }
}

main {
  padding: 2rem;
}
