<h1>Customers</h1>
<section>
  <app-table
    [data]="customersList"
    [columns]="tableColumns"
    [config]="tableConfig"
    [createNewFormGroup]="onCreateNewFormGroup"
    [isLoading]="isLoadingTable"
    (select)="onSelect($event)"
    (action)="onTableAction($event)"
  ></app-table>
</section>

<ng-template #templateForEditColumnCountry let-column let-formGroup="formGroup">
  <ng-container [formGroup]="formGroup">
    <mat-select [formControlName]="column.def">
      <mat-option></mat-option>
      <mat-option
        *ngFor="let option of currentCountriesAvailable"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-select>
  </ng-container>
</ng-template>
